In [24]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data=pd.read_excel("Stats.xlsx")

In [3]:
data

    Emp#  YearsOfExp  Salary in Rs.
0      1          10         126015
1      2           1          12598
2      3           8         100639
3      4          10         125351
4      5           2          25031
5      6           5          62630
6      7           9         112620
7      8           8         100639
8      9           4          50145
9     10           2          25232
10    11           9         112770
11    12           3          37512
12    13           4          50274
13    14           5          62768
14    15          10         125363
15    16           2          25226
16    17           6          75392
17    18           7          87779
18    19           7          87654
19    20           3          37592
20    21          10         125186
21    22           2          25187
22    23           9         113309
23    24           9         113112
24    25          10         125506

# Mean

. Mean of Years of Exp

In [10]:
x=np.mean(data['YearsOfExp'])

In [12]:
print("Mean of YearsOfExp is ",x)

Mean of YearsOfExp is  6.2

. Mean of Years of Salary

In [13]:
x=np.mean(data['Salary in Rs.'])

In [15]:
print("Mean of Salary(in Rs) is ",x)

Mean of Salary(in Rs) is  77821.2

# Median

. Median of Years of Exp

In [17]:
x=np.median(data['YearsOfExp'])

In [18]:
print("Median of YearsOfExp is ",x)

Median of YearsOfExp is  7.0

. Median of Years of Salary

In [21]:
x=np.median(data['Salary in Rs.'])

In [22]:
print("Median of Salary(in Rs) is ",x)

Median of Salary(in Rs) is  87654.0

# Mode

In [25]:

x=stats.mode(data['YearsOfExp'])
print("Mode of YearsOfExp is ",x)

Mode of YearsOfExp is  ModeResult(mode=array([10], dtype=int64), count=array([5]))

In [26]:

x=stats.mode(data['Salary in Rs.'])
print("Mode of Salary in Rs. is ",x)

Mode of Salary in Rs. is  ModeResult(mode=array([100639], dtype=int64), count=array([2]))

# Standard Deviation

In [29]:

x=np.std((data['YearsOfExp']))
print("Std of YearsOfExp is ",x)

Std of YearsOfExp is  3.111269837220809

In [30]:
x=np.std((data['Salary in Rs.']))
print("Std of Salary in Rs is  ",x)

Std of Salary in Rs is   39042.5299620811

In [31]:

x=np.var((data['YearsOfExp']))
print("Variance of YearsOfExp is ",x)

x=np.var((data['Salary in Rs.']))
print("Variance of Salary in Rs is  ",x)

Variance of YearsOfExp is  9.68
Variance of Salary in Rs is   1524319145.8400004